.lead {
  font-size: 1.25rem;
}

.container {
  max-width: 38rem;
  padding: 2rem 1.5rem;
  margin-left:  auto;
  margin-right: auto;

  @media (min-width: 38rem){
    padding: 5rem 1rem;
  }
}

.masthead {

  &-title {
    font-weight: 300;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: #ddd;
    }

  }

  &-title--small {
    margin-bottom: .75rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .masthead-nav {
    margin-bottom: 2rem;

    a {
      color: #aaa;
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      + a {
        margin-left: .25rem;
      }
    }
  }

}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    margin-bottom: .25rem;
  }
  &-date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.list {
  &-post-title {
    margin-bottom: .25rem;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  &-post-date {
    font-size: .75rem;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}

.filters{
    margin-bottom: 1rem;
}

.projects-list {
  a {
    color: #333;
  }
}

form{
    display: block;
    border: 1px solid #ddd;
    padding: 0px 25px 0px 10px;
    border-radius: 5px;
}

input,
textarea{
    width: 100%;
    display: block;
    border: 1px solid #babdbf;
    padding: 7px;
    font-size: 14px;

    border: 1px solid rgb(178, 178, 178);
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;

    box-sizing: content-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;

    border-radius: 3px;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;

    transition: all 0.2s linear;
    
}

label{
    display: block;
    font-size: 14px;
    margin: 10px auto;
}

button{
    display: block;
    cursor: pointer;
    font-size: 14px;
    margin: 15px auto;
    padding: 5px 15px;
    border-radius: 5px;
    background: #f6f6f6;
    color: #000;
}

button:hover,
button:visited,
button:focus,
button:active{
    background: #dcdcdc;
    background:-moz-linear-gradient( center top, #ffffff 5%, #dcdcdc 100% );
    background:-ms-linear-gradient( top, #ffffff 5%, #dcdcdc 100% );
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #f6f6f6) );
    background-color:#ffffff;
    text-shadow:1px 1px 0px #ffffff;
        -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
        -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;    
        -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
        -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
}

/*
.css_btn_class {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #dcdcdc;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
    background:-ms-linear-gradient( top, #ffffff 5%, #f6f6f6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #f6f6f6) );
    background-color:#ffffff;
    color:#666666;
    display:inline-block;
    text-shadow:1px 1px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.css_btn_class:hover {
    background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
    background:-ms-linear-gradient( top, #f6f6f6 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f6f6f6), color-stop(100%, #ffffff) );
    background-color:#f6f6f6;
}
.css_btn_class:active {
    position:relative;
    top:1px;
}*/