---
layout: page
title: The posts of blog
visibleLink: false
---


{% if site.posts.size == 0 %}

<h2>No posts found =(</h2>

{% else %}

    {% for post in paginator.posts %}
        <div class="content list">    
          
          <div class="list-item">

            <h2 class="list-post-title">
              <a href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }} </a>
            </h2>
            <div class="list-post-date">
              <time>{{ post.date | date_to_string }}</time>
            </div>
            
            <div class="filters">
                {% include filter-by-category.html %}
                {% include filter-by-tags.html %}       
            </div>
              
          </div>
            
        </div>
    {% endfor %}
  
    {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                <span>&laquo; prev</span>
            </a>
          {% else %}
            <span>&laquo; prev</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <em>{{ page }}</em>
            {% elsif page == 1 %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                <span>next &raquo;</span>
            </a>
          {% else %}
            <span>next &raquo;</span>
          {% endif %}
        </div>
    {% endif %}

{% endif %}
